body{
  padding-top: 60px;
  font-size: 13px;
  background-color: rgb(45, 45, 48);
  color: white;
}

.page-header {
  margin: 0;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
  color: white;
}

.panel {
  background-color: rgb(65, 65, 68);
  color: white;
}

.panel-heading {
  line-height:28px;
  font-weight: 700;
  padding: 0 0 0 15px;
}

.panel-body {
  margin: 0;
  padding: 0;
  position: relative;
}

.progress {
  margin-bottom: 0;
  height: 5px;
}

.info-tile {
  font-size: 12px;
  padding: 3px 5px;
}

.info-description {
  background-color: rgb(116, 116, 116);
  font-size: 12px;
  min-width: 33px;
  text-align: right;
  padding: 3px 5px;
}

.color-blue {
  background-color: rgb(94, 138, 178);
}

.color-orange {
  background-color: rgb(250, 173, 37);
}

.color-red {
  background-color: rgb(288, 71, 63);
}

.color-gray {
  background-color: rgb(116, 116, 116);
}

.color-silver {
  background-color: silver;
  color: black;
}

.background {
  background-color: rgb(45, 45, 48);
}

.summary-row-top {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}

.summary-row-bottom {
  display: table;
  width: 100%;
}

.summary-row-bottom .normal {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
}

.summary-row-bottom .fill-width {
  display: table-cell;
  width: auto;
  white-space: nowrap;
}

.modal {
  color: black;
}
